<div class="container">
    <div class="row sign-up-form">
        <div class="col m12">
            <div class="card-panel">
              <div class="card-title">
               <h3 class="teal-text center"><%= @course.new_record? ? 'Create New Course!' : 'Edit your profile!' %></h3>  
              </div>
               <div class="row">
                <%= form_for(@course, html: { class: 'col m12' }) do | f | %>
                 <div class="row">
                     <div class="input-field col m12">
                        <%= f.text_field :short_name, placeholder: 'Course short name', autofocus: true %>
                        <%= f.label :short_name, class: "active" %>
                     </div>
                 </div>
                    <div class="row">
                     <div class="input-field col m12">
                        <%= f.text_field :name, placeholder: 'Course name', autofocus: true %>
                        <%= f.label :name, class: "active" %>
                     </div>
                 </div>
                 <div class="row">
                     <div class="input-field col m12">
                        <%= f.text_area :description, id: "textarea1", class: "materialize-textarea", 
                                               placeholder: 'Course description', autofocus: true %>
                        <%= f.label :description, class: "active" %>
                     </div>
                 </div>
                  <div class="row">
                    <div class="input-field col m12">               
                     <%= f.button(@course.new_record? ? '<i class="material-icons right">send</i>create course'.html_safe : 
                                     '<i class="material-icons right">send</i>submit changes'.html_safe, 
                                     class: "btn waves-effect waves-light right white-text") %>
                   </div>  
                 </div>
                <% end %>
            </div>  
          </div>
        </div>
    </div>
</div>
